html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}

#headerImage {
  width: 50%;
  height: 50%
}